<html>
<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<title>Agregar Producto</title>
</head>	
<body>
	<div class="container">
		<h1 class="h1">Agregar un producto</h1>
		<form th:object="${producto}" action="/formulario" method="post" class="p-4 bg-light rounded shadow">

		    <input type="hidden" th:field="*{id}">

		    <div class="form-group">
		        <label>Nombre</label>
		        <input th:field="*{nombre}" class="form-control" placeholder="Nombre del producto" />
		    </div>

		    <div class="form-group">
		        <label>Precio</label>
		        <input th:field="*{precio}" class="form-control" placeholder="0.00" />
		    </div>

		    <div class="form-group">
		        <label>Categoría</label>
		        <input th:field="*{categoria}" class="form-control" />
		    </div>

		    <div class="text-right mt-3">
		        <button type="submit" class="btn btn-success btn-lg pl-4 pr-4">
		            Agregar
		        </button>
		    </div>

		</form>
		<a href="/">Inicio</a>
	</div>
</body>
</html>
